--
-- PostgreSQL database dump
--

\restrict Q3hOMlPBc5NkvSJFoNBHszFcpJz5u8dWNhnXn4KfuissK7ExOi1pBY31nWfxIvZ

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: hewhale
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO hewhale;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: armors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.armors (
    id integer,
    slug text,
    name_ru text NOT NULL,
    armor_level text,
    effect text
);


ALTER TABLE public.armors OWNER TO postgres;

--
-- Name: bonuses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bonuses (
    id integer NOT NULL,
    slug text NOT NULL,
    name_ru text NOT NULL,
    desc_ru text NOT NULL
);


ALTER TABLE public.bonuses OWNER TO postgres;

--
-- Name: bonuses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.bonuses ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.bonuses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: class_bonuses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_bonuses (
    class_id integer,
    bonus_id integer
);


ALTER TABLE public.class_bonuses OWNER TO postgres;

--
-- Name: class_memories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_memories (
    class_id integer,
    memorie_id integer
);


ALTER TABLE public.class_memories OWNER TO postgres;

--
-- Name: class_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_skills (
    class_id integer,
    skill_id integer
);


ALTER TABLE public.class_skills OWNER TO postgres;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classes (
    id integer NOT NULL,
    slug text NOT NULL,
    name_ru text NOT NULL,
    desc_ru text NOT NULL,
    hp_formula text NOT NULL,
    money_formula text NOT NULL,
    signs_formula text NOT NULL,
    agility_formula text,
    presence_formula text,
    strength_formula text,
    toughness_formula text,
    bonus_type text NOT NULL,
    weapon_formula text,
    armor_formula text,
    memorie_type text
);


ALTER TABLE public.classes OWNER TO postgres;

--
-- Name: classes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.classes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.classes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    id integer,
    slug text,
    name_ru text NOT NULL,
    effect text,
    counts text,
    cost integer,
    category text
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: memories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.memories (
    id integer,
    slug text NOT NULL,
    name_ru text NOT NULL,
    desc_ru text NOT NULL
);


ALTER TABLE public.memories OWNER TO postgres;

--
-- Name: narrative; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.narrative (
    id integer,
    slug text,
    category text NOT NULL,
    text_ru text NOT NULL
);


ALTER TABLE public.narrative OWNER TO postgres;

--
-- Name: skills_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.skills_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.skills_id_seq OWNER TO postgres;

--
-- Name: skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skills (
    id integer DEFAULT nextval('public.skills_id_seq'::regclass) NOT NULL,
    slug text,
    name_ru text NOT NULL,
    desc_ru text NOT NULL
);


ALTER TABLE public.skills OWNER TO postgres;

--
-- Name: weapons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weapons (
    id integer,
    slug text,
    name_ru text NOT NULL,
    damage text NOT NULL,
    effect text,
    ammo text
);


ALTER TABLE public.weapons OWNER TO postgres;

--
-- Name: bonuses bonuses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bonuses
    ADD CONSTRAINT bonuses_pkey PRIMARY KEY (id);


--
-- Name: bonuses bonuses_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bonuses
    ADD CONSTRAINT bonuses_slug_key UNIQUE (slug);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (id);


--
-- Name: TABLE armors; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.armors TO hewhale;


--
-- Name: TABLE bonuses; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.bonuses TO hewhale;


--
-- Name: SEQUENCE bonuses_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.bonuses_id_seq TO hewhale;


--
-- Name: TABLE class_bonuses; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.class_bonuses TO hewhale;


--
-- Name: TABLE class_memories; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.class_memories TO hewhale;


--
-- Name: TABLE class_skills; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.class_skills TO hewhale;


--
-- Name: TABLE classes; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.classes TO hewhale;


--
-- Name: SEQUENCE classes_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.classes_id_seq TO hewhale;


--
-- Name: TABLE items; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.items TO hewhale;


--
-- Name: TABLE memories; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.memories TO hewhale;


--
-- Name: TABLE narrative; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.narrative TO hewhale;


--
-- Name: SEQUENCE skills_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.skills_id_seq TO hewhale;


--
-- Name: TABLE skills; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.skills TO hewhale;


--
-- Name: TABLE weapons; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.weapons TO hewhale;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO hewhale;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO hewhale;


--
-- PostgreSQL database dump complete
--

\unrestrict Q3hOMlPBc5NkvSJFoNBHszFcpJz5u8dWNhnXn4KfuissK7ExOi1pBY31nWfxIvZ

