.head-block {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: sticky;
    top: 0;
    border: solid;
    border-radius: 20px;
    background: rgb(255, 255, 38);

}
.head-block .head-title {
    font-size: 25px;
    font-weight: 650;
    background: rgba(249, 75, 255, 0.9);
    border-radius: 10px;
}
.main-block {
    margin: 10px;
}
.main-block-head {
    border: solid;
    width: 20%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    padding: 10px;
    background: rgb(255, 255, 38);
}
.main-block-title {
    font-size: 20px;
    font-weight: 650;
    background-color: white;
    background: rgba(249, 75, 255, 0.9);
}
.main-block-elements {
    display: grid;
    grid-template-columns: repeat(4, minmax(130px, 1fr));
    grid-auto-rows: 60px;
    gap: 20px;
    padding: 10px;
    border: solid;
    /* background: rgb(255, 255, 38); */

}
.main-block-elements .buttons {
    display: flex;
    height: 100%;
    width: 100%;
}
.main-block-elements .buttons a {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
}
.buttons .choose-button {
    font-size: 18px;
    font-weight: 580;
    border: 3px solid;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 81);
}



