.tabs {
    position: sticky;
    top: 0;
    padding: 20px;
    border: solid 5px;
    border-top: 0px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.tabs a {
    margin: 5px;
    border: solid;
    border-radius: 5px;
    padding: 5px;
}

.main-block {
    display: grid;
    grid-template-columns: repeat(3, minmax(130px, 2fr));
}
.element {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: solid 4px;
    border-radius: 10px;
}
.element .name {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 4px;
    height: 100%;
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 77, 23, 0.618);

}
.name .el {
    font-size: 20px;
    font-weight: bold;
}
.element .text {
    padding: 5px;
    text-align: center;
    background-color: rgba(255, 77, 23, 0.243);
}
.main_info {
    font-size: 30px;
    text-align: center;
    background-color: rgba(255, 77, 23, 0.243);
}
