.input_block {
    padding: 20px;
}

.input_title {
    font-size: 30px;
    font-weight: bold;
}

.invalid {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 0.9rem;
}

.buttons {
    color: green;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}