<!DOCTYPE html>
<html>

<head>
    <title>Add New Class</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form method="POST" action="{{ url_for('path_class')}}">
        <div id="class-block">
            <div class="information-block">
                <!-- NAME -->
                <div class="name-block">
                    <span class="input-title">NAME</span>
                    
                    <input
                        type="text"
                        name="name_ru"
                        value="{{ form.get('name_ru', '') }}"
                    >
                    {% if errors.get('name_ru') %}
                        <div class="error">{{ errors['name_ru'] }}</div>
                    {% endif %}
                </div>

                <!-- SLUG -->
                <div class="slug-block">
                    <span class="input-title">SLUG</span>

                    <input
                        type="text"
                        name="slug"
                        value="{{ form.get('slug', '') }}"
                    >
                    {% if errors.get('slug') %}
                        <div class="error">{{ errors['slug'] }}</div>
                    {% endif %}
                </div>

                <!-- DESCRIPTION -->
                <div class="desc-block">
                    <span class="input-title">DESCRIPTION</span>

                    <input
                        type="text"
                        name="desc_ru"
                        value="{{ form.get('desc_ru', '') }}"
                    >
                    {% if errors.get('desc_ru') %}
                        <div class="error">{{ errors['desc_ru'] }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="stats-block">
                <!-- HP -->
                <div class="hp-block">
                    <span class="input-title">HP</span>

                    <input
                        type="text"
                        name="hp_formula"
                        value="{{ form.get('hp_formula', '') }}"
                    >
                    {% if errors.get('hp_formula') %}
                        <div class="error">{{ errors['hp_formula'] }}</div>
                    {% endif %}
                </div>

                <!-- MONEY -->
                <div class="money-block">
                    <span class="input-title">MONEY</span>

                    <input
                        type="text"
                        name="money_formula"
                        value="{{ form.get('money_formula','') }}"
                    >
                    {% if errors.get('money_formula') %}
                        <div class="error">{{ errors['money_formula'] }}</div>
                    {% endif %}
                </div>

                <!-- SIGNS -->
                <div class="signs-block">
                    <span class="input-title">SIGNS</span>

                    <input
                        type="text"
                        name="signs_formula"
                        value="{{ form.get('signs_formula', '') }}"
                    >
                    {% if errors.get('signs_formula') %}
                        <div class="error">{{ errors['signs_formula'] }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="abilities-block">
                <!-- AGILITY -->
                <div class="agility-block">
                    <span class="input-title">AGILITY</span>

                    <input
                        type="text"
                        name="agility_formula"
                        value="{{ form.get('agility_formula', '') }}"
                    >
                    {% if errors.get('agility_formula') %}
                        <div class="error">{{ errors['agility_formula'] }}</div>
                    {% endif %}
                </div>

                <!-- PRESENCE -->
                <div class="presence-block">
                    <span class="input-title">PRESENCE</span>

                    <input
                        type="text"
                        name="presence_formula"
                        value="{{ form.get('presence_formula', '') }}"
                    >
                    {% if errors.get('presence_formula') %}
                        <div class="error">{{ errors['presence_formula'] }}</div>
                    {% endif %}
                </div>

                <!-- STRENGTH -->
                <div class="strength-block">
                    <span class="input-title">STRENGTH</span>

                    <input
                        type="text"
                        name="strength_formula"
                        value="{{ form.get('strength_formula', '') }}"
                    >
                    {% if errors.get('strength_formula') %}
                        <div class="error">{{ errors['strength_formula'] }}</div>
                    {% endif %}
                </div>

                <!-- TOUGHNESS -->
                <div class="toughness-block">
                    <span class="input-title">TOUGHNESS</span>

                    <input
                        type="text"
                        name="toughness_formula"
                        value="{{ form.get('toughness_formula', '') }}"
                    >
                    {% if errors.get('toughness_formula') %}
                        <div class="error">{{ errors['toughness_formula'] }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="equipments-block">
                <!-- WEAPON -->
                <div class="weapon-block">
                    <span class="input-title">WEAPON</span>

                    <input
                        type="text"
                        name="weapon_formula"
                        value="{{ form.get('weapon_formula', '') }}"
                    >
                    {% if errors.get('weapon_formula') %}
                        <div class="error">{{ errors['weapon_formula'] }}</div>
                    {% endif %}
                </div>

                <!-- ARMOR -->
                <div class="armor-block">
                    <span class="input-title">ARMOR</span>

                    <input
                        type="text"
                        name="armor_formula"
                        value="{{ form.get('armor_formula', '') }}"
                    >
                    {% if errors.get('armor_formula') %}
                        <div class="error">{{ errors['armor_formula'] }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <button type="submit" name="action" value="save">Add</button>
    </form>
</body>

</html>