
<!DOCTYPE html>
<html>

<head>
    <title>Add New Narrative Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_form.css') }}">
    <!-- <link rel="stylesheet" href="/static/add_form.css"> -->
</head>

<body>
    <form method="POST" action="/add_narrative">
        <div class="page-title-block">
            <span class="page-title">NARRATIVE</span>
            <!-- CATEGORIES -->
            <div class="choose-block">
                <select name="category">
                    {% for cat in categories %}
                    <option 
                        value="{{ cat[0] }}" 
                        {% if selected_category==cat[0]|string %}
                            selected
                        {% endif %}
                    >
                        {{ cat[1] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button class="submit-button" type="submit" name="action" value="save">SUBMIT</button>
        <button class="back-button" type="submit" name="action" value="back">GO BACK</button>

        <div class="main-block">

            <!-- SLUG -->
            <div class="slug-block">
                <span class="input-title">SLUG</span>
                <input
                    class="input-form"
                    type="text"
                    name="slug"
                    value="{{ form.get('slug', '') }}"
                >
                {% if errors['slug'] %}
                    <div class="error">{{ errors['slug'] }}</div>
                {% endif %}
            </div>

            <!-- TEXT -->
            <div class="name-block">
                <span class="input-title">TEXT</span>
                <textarea class="input-form" name="text_ru">{{ form.get('text_ru', '') }}</textarea>
                {% if errors['text_ru'] %}
                    <div class="error">{{ errors['text_ru'] }}</div>
                {% endif %}
            </div>
        </div>
    </form>
</body>

</html>