<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/add_memorie">

        <!-- CLASSES -->
        <div class="class-block">
            <select name="class_id">
                {% for cls in classes %}
                <option 
                    value="{{ cls[0] }}" 
                    {% if selected_class_id==cls[0]|string %}selected{% endif %}
                >
                    {{ cls[1] }}
                </option>
                {% endfor %}
            </select>
        </div>
        
        <!-- TYPE OF MEMORIES-->
        <div class="memorie-type">
            <span class="input-title">TYPE OF MEMORIES</span>
            <input
                type="text"
                name="memorie_type"
                value="{{ memorie_type }}"
            >
            {% if type_error %}
                <div class="error">{{ type_error }}</div>
            {% endif %}
        </div>
        <!-- MEMORIES -->
        <div id="memories">
            {% for i in range(form|length) %}
            <div class="memorie-block">
                <button type="button" class="remove">-</button>

                <!-- SLUG -->
                <div class="slug-block">
                    <span class="input-title">SLUG</span>
                    <input
                        type="text"
                        name="slug[]"
                        value="{{ form[i].slug }}"
                    >
                    {% if errors[i].slug %}
                        <div class="error">{{ errors[i].slug }}</div>
                    {% endif %}
                </div>

                <!-- NAME -->
                <div class="name-block">
                    <span class="input-title">NAME</span>
                    <input
                        type="text"
                        name="name_ru[]"
                        value="{{ form[i].name_ru }}"
                    >
                    {% if errors[i].name_ru %}
                        <div class="error">{{ errors[i].name_ru }}</div>
                    {% endif %}
                </div>

                <!-- DESCRIPTION -->
                <div class="desc-block">
                    <span class="input-title">DESCRIPTION</span>
                    <input
                        type="text"
                        name="desc_ru[]"
                        value="{{ form[i].desc_ru }}"
                    >
                    {% if errors[i].desc_ru %}
                        <div class="error">{{ errors[i].desc_ru }}</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <button type="button" id="add-memorie">+</button>
        <button type="submit" name="action" value="save">SUBMIT</button>
    </form>

    <script src="{{ url_for('static', filename='memorie_scripts.js') }}"></script>
</body>
</html>