<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mork Borg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="buttons">
        <a href="{{ url_for('generate_character') }}">
            <button>GENERATE</button>
        </a>
    </div>
    <div class="buttons">
        <a href="{{ url_for('add_skill') }}">
            <button>Создать скилл</button>
        </a>
    </div>

    <div class="buttons">
        <a href="{{ url_for('add_class') }}">
            <button>Добавить класс</button>
        </a>
    </div>

    <div class="buttons">
        <a href="{{ url_for('add_bonus') }}">
            <button>Добавить бонусы</button>
        </a>
    </div>

    <div class="buttons">
        <a href="{{ url_for('add_memorie') }}">
            <button>Добавить воспоминания</button>
        </a>
    </div>

    <div class="buttons">
        <a href="{{ url_for('add_narrative') }}">
            <button>Добавить нарративный элемент</button>
        </a>
    </div>

    <div class="buttons">
        <a href="{{ url_for('add_armor') }}">
            <button>Добавить броню</button>
        </a>
    </div>

    <div class="buttons">
        <a href="{{ url_for('add_weapon') }}">
            <button>Добавить оружие</button>
        </a>
    </div>

    <div class="buttons">
        <a href="{{ url_for('add_item') }}">
            <button>Добавить предмет</button>
        </a>
    </div>

    <div class="buttons">
        <a href="{{ url_for('path_class') }}">
            <button>Создать полноценный класс</button>
        </a>
    </div>
</body>

</html>